.pivot-table-container {
  min-width: 300px;
  max-height: 500px;

  margin: 10px;
  overflow: auto;
  font-size: .9em;

  .pivot-table {
    display: inline-block;
    border: 1px solid #CCC;

    &__side {
      background-color: #F5F5F5;
    }

    table {
      border-spacing: 0;
      border-collapse: collapse;

      thead {
        background-color: #052B71;

        th {
          color: #6279A5;
          padding: 5px;
          font-size: 14px;
          font-weight: normal;

          &.title {
            color: white;
            padding: 10px;
            font-size: 16px;
            font-weight: bold;
          }

          &.column-dimension {
            text-align: right;
          }

          &.column-dimension, &.row-dimension {
            font-size: 10px;
          }
        }

        tr[data-level="0"] th {
          border-bottom: 3px solid black;
        }

        tr:not([data-level="0"]) th:not(.column-dimension) {
          text-align: left;
          padding-left: 10px;
          font-weight: bold;
        }
      }

      td {
        padding: 4px;
        min-width: 100px;
        height: 26px;
  
        &.cell--numeric {
          text-align: right;
        }

        &[rowspan] {
          padding-top: 6px;
          vertical-align: top;
          font-weight: bold;
        }
      }

      th {
        min-width: 120px;
      }

      tbody {
        td[rowspan] {
          &::before {
            display: inline-block;
            margin-right: 8px;
            content: '-';
            border-radius: 3px;
            background-color: #1268BC;
            width: 18px;
            height: 18px;
            color: white;
            text-align: center;
            line-height: 1.1;
          }
        }
      }

      .total {
        font-weight: bold;
        background-color: #EEEEEE;
        td {
          padding: 6px 4px;
          border-top: 1px solid #DDDDDD;
          border-bottom: 1px solid #DDDDDD;
        }    
      }
  
      .total--numeric {
        text-align: right;
      }

      tfoot {
        background-color: #333333;
        color: white;
        font-size: 1.1em;

        .total {
          background-color: #333333;
          height: 30px;
        }
      }
    }
  }
}