.app-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;

  h1 {
    margin-bottom: 5px;
  }

  .author {
    font-size: 2vmin;
    font-weight: normal;
  }
}

.app-examples {
  display: flex;
  flex-direction: column;

  .example-description {
    color: #333;
    margin: 10px;
    border-bottom: 1px solid #333;
    p { font-size: .9em }
  }
}

@import './components/PivotTable';
